<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        (keydown.enter)="addTask($event)"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="tasks.length > 0"> 
      <ul class="todo-list" *ngFor="let task of tasks; let i = index">
        <li class="completed" 
          [class.completed]="task.completed" 
          [class.editing]="task.editing"
          [class.hidden]="(type_task === 'pending' && task.completed) || (type_task === 'completed' && !task.completed)">
          <div class="view">
            <input class="toggle" type="checkbox" (click)="changuedTaskCompleted(i)" [checked]="task.completed"/>
            <label (dblclick)="changuedTaskEditing(i)">{{task.title}}</label>
            <button class="destroy" (click)="deleteTask(i)"></button>
          </div>
          <input class="edit" (keydown.esc)="changuedTaskEditing(i)" (keydown.enter)="saveEditTask($event, i)" value="{{task.title}}" />
        </li>
        <!--<li>
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Buy a unicorn</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Buy a unicorn" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Make dishes</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Make dishes" />
        </li>-->
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="tasks.length > 0">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{countPendningTasks()}}</strong> <span *ngIf="countPendningTasks() === 1; else elseBlock"> item</span><ng-template #elseBlock> items</ng-template>  left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" (click)="setTypeTask('all')" [class.selected]="type_task == 'all'">All</a>
        </li>
        <li>
          <a routerLink="/" (click)="setTypeTask('pending')" [class.selected]="type_task == 'pending'">Pending</a>
        </li>
        <li>
          <a routerLink="/" (click)="setTypeTask('completed')" [class.selected]="type_task == 'completed'" >Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
    </footer>
  </div>
</section>
